<div class="road-scheme-container" #mainContainer
  (mousemove)="moveInContainer($event)"
  (click)="clickInContainer($event)"
  [style.cursor]="this.svgPattern ? 'move' : 'default'">
  <div class="library-container">
    <app-singleroad (getSvgSource)="setSvgSource($event)"></app-singleroad>
  </div>
  <div class="editor-container">
    <div class="editor-background">
      <div class="x-ruler">
        <canvas #xRuler height="20"></canvas>
      </div>
      <div class="y-ruler">
        <canvas #yRuler width="20"></canvas>
      </div>
      <div class="editor" (wheel)="onMouseWheelInGrid($event)" #editorContainer (mousedown)="clickInGrid($event)"
        (mouseleave)="moveElementOutOfGrid()" (mouseenter)="moveElementToGrid()">
        <svg [attr.width]="getGridWidth()" [attr.height]="getGridHeight()">
          <defs>
            <pattern id="grid" [attr.width]="gridSquarePx" [attr.height]="gridSquarePx" patternUnits="userSpaceOnUse">
              <path [attr.d]="calculateSmallGrid()"
                fill="none"
                stroke="#E0E0E0" opacity="0.5" stroke-width="1" />
              <path [attr.d]="calculateBigGrid()" fill="none" stroke="#000000" stroke-width="1" />
            </pattern>
            <pattern id="roadLine" [attr.width]="gridSquarePx" [attr.height]="gridSquarePx">
              <path [attr.d]="calculateRoadLine()" stroke="#000000" />
              <path [attr.d]="calculateMiddleLine()" stroke="#FFFFFF" [attr.stroke-width]="gridSquarePx / 16"
                [attr.stroke-dasharray]="gridSquarePx / 4" />
            </pattern>
          </defs>
          <rect
            width="100%"
            height="100%"
            fill="url(#grid)" />
          <g #diagramContainer>
            <rect *ngFor="let component of components"
              [attr.x]="getCoord(component.x)"
              [attr.y]="getCoord(component.y)"
              [attr.width]="gridSquarePx"
              [attr.height]="gridSquarePx"
              [attr.fill]="'url(#' + component.fill + ')'"
              (click)="test($event, component)">
            </rect>
          </g>
        </svg>
      </div>
    </div>
  </div>
  <div class="properties-container">
    <app-properties (propertyChange)="updateGrid($event)" #properties></app-properties>
  </div>
</div>
